<div id="login">
  <h2>Login</h2>
  <form action="/login" method="POST">
    <div class="user-details">
      Email address: <input type="text" name="user[email]">
    </div>

    <div class="password">
      Password: <input type="password" name="user[password]">
    </div>

    <input class="submit" type="submit" value="login">
  </form>
</div>
