h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  line-height:100%;
  margin: 0.5em 0;
  color: #000000;
}

h1 {
  font-size: 1.8em;
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}


body {
  font-family: 'Raleway', sans-serif;
  font-size: 160%;
  line-height: 160%;
  background-color: #ffffff;
}


#content{
  width: 95%;
  margin: 0 auto;
}

#title {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

#title a:hover{
  text-decoration: none;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover {
  color: #AAA;
  text-decoration: underline;
}

#nav-container {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}

#nav-bar {
  width: 500px;
  float: left;
  text-align: left;
  margin-left: 100px
}

#login-toolbar {
  width: 200px;
  float: right;
  text-align: right;
  margin-right: 100px;
}

.new-photo {
  width: 450px;
  height: 400px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.new-photo ul li {
  list-style: none;
}

.new-photo-inputs{
  width: 330px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

.show-photo {
  width: 600px;
  padding: 10px;
  text-align: center;
  margin: 20px auto;
  position: relative;
}

.show-photo img {
  display: block;
  max-width: 590px;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.show-photo ul li {
  list-style: none;
  margin-left: -35px;
}

.edit {
  font-size: .6em;
  margin-left: 10px;
}

.photo-title {

}

.photo-user {
  margin-top: 10px;
}

.like-count span{
  color: red;
}

.all-photos {
  margin: 0 auto;
  width: 90%;
}

.new-photo {

}

.user-details{
  width: 350px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

textarea {
  resize: none;
  border: 1px solid #CCCCCC;
}

.password {
  width: 350px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

.submit {
  width: 100px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

#login {
  width: 350px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

#signup {
  width: 350px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
}

.user-profile {
  margin-top: 175px;
  margin-left: 50px;
  width: 350px;
  float: left;
}

.user-profile span{
  color: green;
  font-size: .8em;
}

.user-bikes {
  float: right;
  margin-top: 30px;
  margin-right: 50px;
}
