<div class="user-profile">
  <div class="photo-user">
    <%= user.name %>
  </div>
  <div class="photo-user">
    <span>Bio: </span><%= user.bio %>
  </div>
  <% if user.id == current_user.id %>
    <a href="/user/<%= user.id %>/edit"><span>Edit profile</span></a>
  <% end %>
</div>

<div class="user-bikes">
  <% user.photos.each do |photo| %>
    <%= erb :'photos/show', locals: {photo: photo} %>
  <% end %>
</div>
