<div class="all-photos">
  <% highest_liked_sort = @photos.sort {|x,y| y.users_liked.count <=> x.users_liked.count} %>

  <% highest_liked_sort.each do |photo| %>
    <%= erb :'photos/show', locals: {photo: photo} %>
  <% end %>
</div>
