<div class="new-photo">
  <form action="/photos" method="post">
    <div class="new-photo-inputs">
      Photo url: <input type="text" name="photo[url]">
    </div>
    <div class="new-photo-inputs">
      Title: <input type="text" name="photo[title]">
    </div>
    <input type="submit">
  </form>
</div>
