<% highest_liked_photo = @photos.sort {|x,y| y.users_liked.count <=> x.users_liked.count}.first %>

<div class="show-photo">
  <img src="<%= highest_liked_photo.url %>">

  <div class="photo-title">
    <%= highest_liked_photo.title %>
  </div>

  <div class="like-count">
    This photo has <span><%= highest_liked_photo.users_liked.count %></span> likes.
  </div>
</div>

